<% provide(:class_text, 'new-event') %>
<% provide(:button_text, '作成') %>

<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 style="text-align:center">【新規イベント作成】</h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            
            <div class="panel-group" id="sampleAccordion">
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">
            				<a data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse1">
            					日程調整
            				</a>
                    <% flash.each do |message_type, msg| %>
                      <div class="alert alert-<%= message_type %>"><%= msg %></div>
                    <% end %>
            			</h3>
            		</div>
            		<div id="sampleAccordionCollapse1" class="panel-collapse collapse in">
            			<div class="panel-body">
            			  イベントを企画したら、まずは日程調整です。<br>
            				次の2通りの方法から選んでください。
                  </div>
            		</div>
            	</div>
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">
            				<button type="button" class="btn btn-lg btn-success" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse2">
            				  A. 「調整さん」で日程調整
            				</button>
            			</h3>
            		</div>
            		<div id="sampleAccordionCollapse2" class="panel-collapse collapse">
            			<div class="panel-body">
                    STEP１. <%= link_to "「調整さん」に飛ぶ：https://chouseisan.com/", "https://chouseisan.com/", target: :_blank %>
                    <br>STEP２.
                    <%= form_with(model: @event, local: true) do |f| %>
                      <%= render 'users/shared/error_messages', resource: @event %>
                        <%= f.label :chouseisan_url, class: "label-form" %>
                        <%= f.text_field :chouseisan_url, class: "form-control" %>
                      <%= f.submit "調整さんのcsvファイルを作成", class: "btn btn-sm btn-primary btn-form" %>
                    <% end %>
                    
                  </div>
            		</div>
            	</div>
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">
            				<button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse3">
            					B. 既に日程調整済（手動で入力）
            				</a>
            			</h3>
            		</div>
            		<div id="sampleAccordionCollapse3" class="panel-collapse collapse">
            			<div class="panel-body">
                    <%= render 'event_form', model: @event %>
                  </div>
            		</div>
            	</div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
