<% provide(:class_text, 'new-event') %>
<% provide(:button_text, '作成') %>

<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 style="text-align:center">【新規イベント作成】</h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <% flash.each do |message_type, msg| %>
              <div class="alert alert-<%= message_type %>"><%= msg %></div>
            <% end %>
            
            <div class="panel-group" id="neweventAccordion">
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">
            				<a data-toggle="collapse" data-parent="#neweventAccordion" href="#neweventAccordionCollapsehead">
            					日程調整
            				</a>
            			</h3>
            		</div>
            		<div id="neweventAccordionCollapsehead" class="panel-collapse collapse in">
            			<div class="panel-body">
            			  イベントを企画したら、まずは日程調整です。<br>
            				次の2通りの方法から選んでください。
                  </div>
            		</div>
            	</div>
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">
            				<button type="button" class="btn btn-lg btn-success" data-toggle="collapse" data-parent="#neweventAccordion" href="#neweventAccordionCollapseA">
            				  A. <%= link_to image_tag("/chouseisan/chousei_logo.png", :size => "120x30"), "https://chouseisan.com/", target: :_blank %>で日程調整
            				</button>
            			</h3>
            		</div>
            		<div id="neweventAccordionCollapseA" class="panel-collapse collapse">
            			<div class="panel-body">
            		    <%= render 'chouseisan_form', model: @event, explanation_need: true %>
                  </div>
            		</div>
            	</div>
            	<div class="panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">
            				<button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-parent="#neweventAccordion" href="#neweventAccordionCollapseB">
            					B. 既に日程調整済（手動で入力）
            				</a>
            			</h3>
            		</div>
            		<div id="neweventAccordionCollapseB" class="panel-collapse collapse">
            			<div class="panel-body">
                    <%= render 'event_form', model: @event, schedule_model: @decided_schedule %>
                  </div>
            		</div>
            	</div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
