<% provide(:title, @event.event_name) %>

<div>
  <h1 style="display:inline;"><%= @event.event_name %></h1>
  <h5 style="display:inline;">
    <% if @event.chouseisan_check? %>
      <%= link_to "編集（調整さん）", @event.chouseisan_url, target: :_blank %>
    <% else %>
      <%= link_to "編集", edit_event_path(@event) %>
    <% end %>
    <%= link_to "ページ更新", event_path(@event) %>
  </h5>
  <h4><%= @event.chouseisan_note %></h4>
</div>

<br>

<div>
  <h3 style="display:inline;">＜日程＞</h3>
  <% if @decided_schedule.blank? %>
    <%= render 'events/shows/pending_message', message: '調整中！' %>
  <% else %>
    <%= render 'events/shows/decided_schedule' %>
  <% end %>
</div>
<div>
  <% if @event.chouseisan_check? %>
    <%= render 'events/shows/chouseisan_table' %>
  <% end %>
</div>

<br>

<div>
  <% if @decided_schedule.blank? %>
    <h3 style="display:inline;">＜参加者＞</h3>
    <%= render 'events/shows/pending_message', message: '未定！' %>
  <% elsif @event.chouseisan_check? %>
    <%= render 'events/shows/members_list' %>
    <%= render 'events/shows/to_direct_edit' %>
  <% else %>
    <%= render 'events/shows/members_list' %>
    <%= render 'events/shows/to_chouseisan_edit' %>
  <% end %>
</div>

<br>
<br>

<div>
  <h3 style="display:inline;">＜場所＞</h3>
  <% if @decided_shop.blank? %>
    <%= render 'events/shows/pending_message', message: '調整中！' %>
  <% else %>
    <h2 style="display:inline;"><%= @decided_shop.shop_name %></h2>
    <%= link_to "WEBサイトを表示", @decided_shop.shop_url, class: "btn btn-primary btn-sm", target: :_blank if @decided_shop.shop_url %>
    <%= link_to_map("地図を表示", @decided_shop.shop_name) %>
    <%= link_to 'お店を選び直す', 
      update_decision_event_shop_path(@event, @decided_shop),
      method: :patch, 
      data: {confirm: "「#{@event.event_name}」の開催場所を選び直しますか？"}
    %>
  <% end %>
</div>
<div>
  <h4 style="display:inline;">
    <%= render 'events/edit_place' %>
  </h4>
</div>
<div>
  <% if @decided_shop.blank? %>
    <%= render 'events/shows/shop_index', models: @shops %>
  <% else %>
    <%= render 'events/shows/shop_show', model: @decided_shop %>
  <% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= debug(params) if Rails.env.development? %>
      

<div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="https://d17380f6aeae44d7b7d7f89e339a501a.vfs.cloud9.ap-northeast-1.amazonaws.com" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

    <%= link_to "LINEで共有", "https://line.me/R/msg/text/?#{@event.event_name}" %>


<div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://d17380f6aeae44d7b7d7f89e339a501a.vfs.cloud9.ap-northeast-1.amazonaws.com" data-color="default" data-size="large" data-count="false" style="display: none;"></div>
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
 
      
      
      
<div>
  <% if @decided_schedule.blank? %>
  
  <% elsif @event.chouseisan_check? %>
  
  <% else %>
  
  <% end %>
</div>




<div>
  <% if @decided_schedule %>
    <table class="table table-bordered table-condensed" id="event-table">
      <tr>
        <td>ユーザーID: <%= current_user.id %></td>
        <td>user_id: <%= @event.user_id %></td>
        <td>幹事名: <%= current_user.user_name %></td>
      </tr>
      <tr>
        <td>イベントID: <%= @event.id %></td>
        <td>event_id: <%= @decided_schedule.event_id %></td>
        <td>イベント名: <%= @event.event_name %>
          <%= link_to "削除", 
            event_path(@event), 
            method: :delete, 
            data: {confirm: "「#{@event.event_name}」を削除します。よろしいですか？"}, 
            class: "btn btn-danger"
          %>
        </td>
      </tr>
      <tr>
        <td>日程ID: <%= @decided_schedule.id %></td>
        <td>確定: <%= @decided_schedule.decided %></td>
        <td>
          日程: <%= l(@decided_schedule.held_at, format: :shortdate) %>
          <span class="<%= css_class_of_the_day(@decided_schedule.held_at) %>">(<%= $days_of_the_week[@decided_schedule.held_at.wday] %>)</span>
          <%= l(@decided_schedule.held_at, format: :time) %>~
        </td>
      </tr>
      <tr>
        <td>note: <%= @event.chouseisan_note %></td>
        <td>check: <%= @event.chouseisan_check %></td>
        <td>url: <%= @event.chouseisan_url %></td>
      </tr>
    </table>
  <% else %>
    <table class="table table-bordered table-condensed" id="event-table">
      <tr>
        <td>ユーザーID: <%= current_user.id %></td>
        <td>user_id: <%= @event.user_id %></td>
        <td>幹事名: <%= current_user.user_name %></td>
      </tr>
      <tr>
        <td>イベントID: <%= @event.id %></td>
        <td></td>
        <td>イベント名: <%= @event.event_name %>
          <%= link_to "削除", 
            event_path(@event), 
            method: :delete, 
            data: {confirm: "「#{@event.event_name}」を削除します。よろしいですか？"}, 
            class: "btn btn-danger"
          %>
        </td>
      </tr>
      <tr>
        <td>note: <%= @event.chouseisan_note %></td>
        <td>check: <%= @event.chouseisan_check %></td>
        <td>url: <%= @event.chouseisan_url %></td>
      </tr>
    </table>
    
    <% #debugger %>
    
    <%= link_to "①調整さんのデータ取得", @export_csv_url %>
    <%= form_with url: import_event_path(@event), method: :post, local: true do |f| %>
      <%= f.file_field :file %>
      <%= f.submit "③CSVをインポート", class: "btn btn-primary btn-sm" %>
    <% end %>
          <%= link_to "調整さんデータのリセット", 
            destroy_members_and_schedules_event_path(@event), 
            method: :delete, 
            data: {confirm: "「#{@event.event_name}」のデータをリセットします。よろしいですか？"}, 
            class: "btn btn-danger"
          %>
  <% end %>
</div>





<textarea class="text-right" id="bar" readonly rows="1" wrap="off" style="overflow: overlay;">
  aaa
</textarea>
<button class="btn btn-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
  共有用のリンクをコピーする
</button>
<button type="button" class="btn clipboard-btn" data-clipboard-action="copy" data-clipboard-text="URL">URLをコピー</button>
    
    
<script type="text/javascript">
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
      //成功時の処理
      console.info('Trigger:', e.trigger);
    });
    clipboard.on('error', function(e) {
      //失敗時の処理
      console.error('Trigger:', e.trigger);
    });
</script>
<button type="button" class="btn" data-clipboard-text="この内容をコピーします">コピー</button>





<!--モーダルウインドウ表示-->
<div id="member-index" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="shop-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>