<% provide(:title, @event.event_name) %>
<div>
  <table class="table table-bordered table-condensed" id="event-table">
    <tr>
      <td>イベント名: <%= @event.event_name %></td>
      <td>id: <%= @event.id %></td>
      <td>幹事名: <%= current_user.user_name %></td>
      <td>user_id: <%= @event.user_id %></td>
    </tr>
    <tr>
      <td>note: <%= @event.chouseisan_note %></td>
      <td>url: <%= @event.chouseisan_url %></td>
      <td>check: <%= @event.chouseisan_check %></td>
    </tr>
  </table>
</div>