<% provide(:title, @event.event_name) %>
<p class="text-right">現在「当日モード」です。「通常モード」は<%= link_to "こちら", event_path(@event), class:"pull-right" %></p>
<%= link_to image_tag("/event/koushin.png", :size => "30x30"), the_day_event_path(@event), class:"pull-right" %>

<div class="text-center">
  <h1>
    <%= render 'events/shows/pending_message', message: '【開催中】' %>
    <h1 style="display:inline;"><%= @event.event_name %></h1>
  </h1>
  <br>
  <h4 style="display:inline;"><%= show_text_of(@event.chouseisan_note) %></h4>
  <h5 style="display:inline;">
    <% if @event.chouseisan_check? %>
      <%= link_to "編集（調整さん）", @event.chouseisan_url, target: :_blank %>
    <% else %>
      <%= link_to "編集", edit_event_path(@event) %>
    <% end %>
  </h5>
</div>

<br>

<div>
  <h3 style="display:inline;">＜日程＞</h3>
  <%= render 'events/shows/decided_schedule', model: @decided_schedule, the_day_check: true %>
</div>
<div><%= link_to "調整さんテーブルを見る", event_path(@event), class:"pull-right" if @event.chouseisan_check? %></div>

<br>

<div>
  <%= render 'events/shows/members_list', the_day_check: true %>
</div>

<br>

<div>
  <h3 style="display:inline;">＜会計＞</h3>
  <h4 style="display:inline;"><%= render 'fees/edit' %></h4>
</div>

<br>
<br>

<% event_station = @event.station.present? ? @event.station : "" %>
<% event_place = @event.place.present? ? @event.place : "" %>
<div>
  <h3 style="display:inline;">＜場所＞</h3>
  <% if @decided_shop.blank? %>
    <%= render 'events/shows/pending_message', message: '調整中！' %>
  <% else %>
    <%= render 'events/shows/decided_shop', shop: @decided_shop %>
  <% end %>
</div>
<div>
  <h4 style="display:inline;">
    <%= render 'events/edit_place' %>
  </h4>
</div>
<div>
  <% if @decided_shop.blank? %>
    <%= render 'events/shows/shop_index', models: @shops %>
  <% else %>
    <%= render 'events/shows/shop_show', model: @decided_shop %>
  <% end %>
</div>

<%= link_to "このイベントを完了する！", finish_event_path(@event), method: :patch, class: "btn btn-danger btn-block" %>


<!--モーダルウインドウ表示-->
<div id="member-index" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="shop-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>