<% provide(:title, 'Edit-Invitation') %>
<% provide(:class_text, 'invitation--edit') %>
<% provide(:button_text, '文面保存') %>
<h1>案内文の作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'users/shared/error_messages', resource: @event %>

    <% if @decided_schedule.present? && @decided_shop.present? %>
      <% final_invitation_statement_value = 
          render 'invitations/final_invitation_statement',event: @event, schedule: @decided_schedule, shop: @decided_shop %>
      <%= render 'invitations/invitation_form', model: @event, column_name: :final_invitation_statement, 
          message: "初期値に戻すにはこのまま保存", value: final_invitation_statement_value %>
      <br>
      <br>
      <br>
    <% end %>
    
    <% if @decided_schedule.present? %>
      <% schedule_information_statement_value = 
          render 'invitations/schedule_information_statement', event: @event, schedule: @decided_schedule %>
      <%= render 'invitations/invitation_form', model: @event, column_name: :schedule_information_statement, 
          message: "初期値に戻すにはこのまま保存", value: schedule_information_statement_value %>
      <br>
      <br>
      <br>
    <% end %>
    
    <% initial_invitation_statement_value = 
        render 'invitations/initial_invitation_statement_value', event: @event %>
    <%= render 'invitations/invitation_form', model: @event, column_name: :initial_invitation_statement, 
        message: "初期値に戻すにはこのまま保存", value: initial_invitation_statement_value %>

  </div>
</div>

<%= link_to "#{@event.event_name}のイベントページへ", event_path(@event), class:"pull-right" %>
<%= link_to "戻る", :back %>


<script type="text/javascript">
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
      //成功時の処理
      console.info('Trigger:', e.trigger);
    });
    clipboard.on('error', function(e) {
      //失敗時の処理
      console.error('Trigger:', e.trigger);
    });
</script>