<div>
  <p>
    調整さんURL:
    <%= link_to @event.chouseisan_url, @event.chouseisan_url, target: :_blank %>
    <%= link_to "URLへ飛ぶ", @event.chouseisan_url, class: "btn btn-primary btn-sm", target: :_blank %>
    <%= link_to "URLコピー", "#", class: "btn btn-info btn-sm" %>
  	<a class="btn btn-default" data-toggle="collapse" href="#collapseURLedit">
  	  URL編集
  	</a>
  </p>
  <div id="collapseURLedit" class="collapse">
  	<div class="well">
  		<%= form_with(model: @event, local: true, class:"form-inline") do |f| %>
        <%= render 'users/shared/error_messages', resource: @event %>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <%= f.text_field :chouseisan_url, class: "form-control" %>
            <%= f.submit "上書き", class: "btn btn-primary btn-sm" %>
  	      </div>
	      </div>
      <% end %>
  	</div>
  </div>

  <table class="table table-bordered table-condensed" id="chouseisan-table">
    <tr>
      <td colspan="<%= 4 + @event.members.count %>">
        <p>
          <div style="display:inline-flex">
            <%= link_to "最新データ取得", @export_csv_url, class: "btn btn-success btn-sm" %>
            <%= form_with url: import_event_path(@event), method: :post, local: true, class:"form-inline" do |f| %>
              <span>→</span>
              <%= f.file_field :file, class: "form-control" %>
              <span>→</span>
              <%= f.submit "③CSVをインポート", class: "btn btn-success btn-sm" %>
            <% end %>
          </div>
        </p>
      </td>
    </tr>
    <tr>
      <td>日付 / 参加者</td>
      <td>〇</td>
      <td>△</td>
      <td>×</td>
      <% #debugger %>
      <% @event.members.each do |member| %>
        <td><%= member.member_name %></td>
      <% end %>
    </tr>
    <% #debugger %>
    <% @schedules.each do |date| %>
      <tr>
        <td>
          <% if @decided_schedule.blank? %>
            <%= link_to 'この日にする', 
              update_decision_of_schedule_event_path(@event, schedule_id: date),
              method: :patch, 
              data: {confirm: "「#{@event.event_name}」の開催日を#{l(date.held_at, format: :short)}に決定します。よろしいですか？"}, 
              class: "btn btn-info btn-xs"
            %>
          <% else %>
            <%= link_to '日程を再考する', 
              update_decision_of_schedule_event_path(@event, schedule_id: date),
              method: :patch, 
              data: {confirm: "「#{@event.event_name}」の開催日を「調整中」に戻します。よろしいですか？"}, 
              class: "btn btn-warning btn-xs"
            %>
          <% end %>
          <%= l(date.held_at, format: :shortdate) %>
          <span class="<%= css_class_of_the_day(date.held_at) %>">(<%= $days_of_the_week[date.held_at.wday] %>)</span>
          <%= l(date.held_at, format: :time) %>~
        </td>
        <td><%= date.attendance_numbers %></td>
        <td><%= date.member_schedules.where(attendance_status: "on_hold").count %></td>
        <td><%= date.member_schedules.where(attendance_status: "to_be_absent").count %></td>
        <% date.member_schedules.each do |member| %>
          <td><%= member.attendance_status_i18n %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">コメント</td>
      <% @event.members.each do |member| %>
        <td><%= member.comment %></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="<%= 4 + @event.members.count %>">
        <%= link_to "表のデータを消去", 
          destroy_members_and_schedules_event_path(@event), 
          method: :delete, 
          data: {confirm: "「#{@event.event_name}」の表のデータを全削除します。よろしいですか？"}, 
          class: "btn btn-default btn-xs"
        %>
      </td>
    </tr>
  </table>
</div>