<div>
  <%= render 'events/shows/chouseisan_url' %>
  <table class="table table-bordered table-condensed" id="chouseisan-table">
    <tr>
      <td colspan="1">
        <%= link_to "更新：", "#", class: "btn btn-default pull-right", 
            data: {confirm: "表を更新するには、「１．最新データ取得」→「２．取得したファイルを選択」→「３．CSVをインポート」の３STEPです。"} %>
      </td>
      <td colspan="<%= 3 + @event.members.count %>">
        <p>
          <div style="display:inline-flex">
            <%= link_to "１．最新データ取得", @export_csv_url, class: "btn btn-success btn-sm" %>
            <%= form_with url: import_event_path(@event), method: :post, local: true, class:"form-inline" do |f| %>
              <span>→</span>
              <%= f.file_field :file, class: "form-control" %>
              <span>→</span>
              <%= f.submit "３．CSVをインポート", class: "btn btn-success btn-sm" %>
            <% end %>
          </div>
        </p>
      </td>
    </tr>
    <tr>
      <td>日付 / 参加者</td>
      <td>〇</td>
      <td>△</td>
      <td>×</td>
      <% @event.members.each do |member| %>
        <td><%= member.member_name %></td>
      <% end %>
    </tr>
    <% @schedules.each do |date| %>
      <tr>
        <td>
          <% if @decided_schedule.blank? %>
            <%= link_to 'この日にする', 
              update_decision_of_schedule_event_path(@event, schedule_id: date),
              method: :patch, 
              data: {confirm: "「#{@event.event_name}」の開催日を#{l(date.held_at, format: :short)}に決定します。よろしいですか？"}, 
              class: "btn btn-info btn-xs"
            %>
          <% else %>
            <%= link_to '日程を再考する', 
              update_decision_of_schedule_event_path(@event, schedule_id: date),
              method: :patch, 
              data: {confirm: "「#{@event.event_name}」の開催日を「調整中」に戻します。よろしいですか？"}, 
              class: "btn btn-warning btn-xs"
            %>
          <% end %>
          <%= l(date.held_at, format: :shortdate) %>
          <span class="<%= css_class_of_the_day(date.held_at) %>">(<%= $days_of_the_week[date.held_at.wday] %>)</span>
          <%= l(date.held_at, format: :time) %>~
        </td>
        <td><%= date.attendance_numbers %></td>
        <td><%= date.member_schedules.where(attendance_status: "on_hold").count %></td>
        <td><%= date.member_schedules.where(attendance_status: "to_be_absent").count %></td>
        <% date.member_schedules.each do |member| %>
          <td><%= member.attendance_status_i18n %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">コメント</td>
      <% @event.members.each do |member| %>
        <td><%= member.comment %></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="<%= 4 + @event.members.count %>">
        <%= link_to "表のデータを消去", 
          destroy_members_and_schedules_event_path(@event), 
          method: :delete, 
          data: {confirm: "「#{@event.event_name}」の表のデータを全削除します。よろしいですか？"}, 
          class: "btn btn-default btn-xs pull-right"
        %>
      </td>
    </tr>
  </table>
</div>