<h2 style="display:inline;"><%= shop.shop_name %></h2>
<%= link_to "WEBサイトを表示", shop.shop_url, class: "btn btn-primary btn-sm", target: :_blank if shop.shop_url %>
<%= link_to_map(image_tag("/event/color_map.png", :size => "40x40"), [shop.shop_name, @event.station]) %>
<%= link_to 'お店を選び直す', 
  update_decision_event_shop_path(@event, shop),
  method: :patch, 
  data: {confirm: "「#{@event.event_name}」の開催場所を選び直しますか？"}
%>
<%= link_to "最終案内文を作成", invitations_edit_event_path(@event), class: "btn btn-warning btn-sm pull-right", target: :_blank unless @the_day_check %>
