<h3 style="display:inline;">
  <%= l(@decided_schedule.held_at, format: :shortdate) %>
  <a class="<%= css_class_of_the_day(@decided_schedule.held_at) %>">(<%= $days_of_the_week[@decided_schedule.held_at.wday] %>)</a>
  <%= l(@decided_schedule.held_at, format: :time) %>~
</h3>
<h5 style="display:inline;">
  <% if @event.chouseisan_check? %>
    <%= link_to "編集", @event.chouseisan_url, target: :_blank %>
  <% else %>
    <%= link_to "直接編集", edit_event_path(@event) %>
  <% end %>
</h5>
<h3 style="display:inline;">
  ＜ <%= @decided_schedule.attendance_numbers %>
  <% unless @on_hold_statuses.count.zero? %>
    ～<%= @decided_schedule.attendance_numbers + @on_hold_statuses.count %>
  <% end %>
  名 ＞
</h3>