<%= render 'events/shows/pending_message', message: '（！過去の日付です！）' if model.held_at < Time.current %>
<h3 style="display:inline;">
  <%= l(model.held_at, format: :shortdate) %>
  <a class="<%= css_class_of_the_day(model.held_at) %>">(<%= $days_of_the_week[model.held_at.wday] %>)</a>
  <%= l(model.held_at, format: :time) %>~
</h3>
<h5 style="display:inline;">
  <% if @event.chouseisan_check? %>
    <%= link_to "編集（調整さん）", @event.chouseisan_url, target: :_blank %>
  <% else %>
    <%= link_to image_tag("/event/edit.png", :size => "20x20"), edit_event_path(@event) %>
  <% end %>
</h5>
<h3 style="display:inline;">
  ＜ <%= model.attendance_numbers %>
  <% unless @on_hold_members.count.zero? %>
    ～<%= model.attendance_numbers + @on_hold_members.count %>
  <% end %>
  名 ＞
  <%= link_to "開催日の連絡文を作成", invitations_edit_event_path(@event), class: "btn btn-warning btn-sm pull-right", target: :_blank unless @the_day_check %>
</h3>
