<% status_key = models.first.attendance_status %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= will_paginate models %>
    <table class="table table-hover" id="table-members">
      <thead>
        <tr>
          <td colspan="1"><%= models.first.attendance_status_i18n %></td>
          <td colspan="1">名前</td>
          <td colspan="1">本人コメント</td>
          <td colspan="1">備考</td>
          <td colspan="1">
            <% if @event.chouseisan_check? %>
              <%= link_to "編集(調整さん)", @event.chouseisan_url, target: :_blank %>
            <% else %>
              <%= link_to "まとめて編集", event_members_path(@event, status_key: status_key, number_key: first_number), remote: true %>
            <% end %>
          </td>
        </tr>
      </thead>
      <tbody>
        <div>
          <% models.each_with_index do |m_s, counter| %>
            <% @member = @event.members.find(m_s.member_id) %>
            <tr>
              <td><%= counter + first_number %></td>
              <td><%= @member.member_name %></td>
              <td><%= @member.comment %></td>
              <td><%= @member.remark %></td>
              <td>
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapse-edit-member-<%= counter + first_number %>">
              	  編集
              	</a>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <div id="collapse-edit-member-<%= counter + first_number %>" class="collapse">
                	<div class="well">
                	  <%= form_with(url: event_member_path(@event, @member), model: @member, local: true, class:"form-inline") do |f| %>
                      <% #debugger %>
                      <% unless @event.chouseisan_check? %>
                        <%= link_to "出席に変更", update_status_event_member_path(@event, @member, attendance_id: m_s.id, key: 2), method: :patch, class: "btn btn-info btn-sm" unless m_s.attendance_status == "to_attend" %>
                        <%= link_to "保留に変更", update_status_event_member_path(@event, @member, attendance_id: m_s.id, key: 1), method: :patch, class: "btn btn-warning btn-sm" unless m_s.attendance_status == "on_hold" %>
                        <%= link_to "欠席に変更", update_status_event_member_path(@event, @member, attendance_id: m_s.id, key: 0), method: :patch, class: "btn btn-danger btn-sm" unless m_s.attendance_status == "to_be_absent" %>
                        <%= link_to "削除", 
                          event_member_path(@event, @member), 
                          method: :delete, 
                          data: {confirm: "「#{@member.member_name}」を削除します。よろしいですか？"}, 
                          class: "btn btn-danger btn-xs"
                        %>
                        <br>
                        <%= f.label :member_name, class: "label-form" %>(※空欄不可)
                        <%= f.text_field :member_name, class: "form-control" %>
                        <br>
                      <% end %>
                      <%= f.label :remark, class: "label-form" %>
                      <%= f.text_field :remark, autofocus: true, class: "form-control" %>
                      <%= f.submit "変更", class: "btn btn-sm btn-primary btn-form" %>
                    <% end %>
        
                	</div>
                </div>
              </td>
            </tr>
          <% end %>
          
          <% unless @event.chouseisan_check? || models.first.attendance_status == "to_be_absent" %>
            <tr>
              <td></td>
              <td>
                <a class="btn btn-primary btn-xs" data-toggle="collapse" href="#collapse-new-member-<%= models.first.attendance_status %>">
              	  追加
              	</a>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="5">
                <div id="collapse-new-member-<%= models.first.attendance_status %>" class="collapse">
                	<div class="well">
                	  <% @member = @event.members.new %>
                	  <%= form_with(model:[@event, @member], local: true, class:"form-inline") do |f| %>
                      <%= render 'users/shared/error_messages', resource: @member %>
                      <%= hidden_field_tag :status_key, models.first.attendance_status %>
                      <%= f.label :member_name, class: "label-form" %>(※空欄不可)
                      <%= f.text_field :member_name, autofocus: true, value: "member#{@event.members.all.count + 1}", class: "form-control" %>
                      <br>
                      <%= f.label :remark, class: "label-form" %>
                      <%= f.text_field :remark, class: "form-control" %>
                      <%= f.submit "追加", class: "btn btn-sm btn-primary btn-form" %>
                    <% end %>
                	</div>
                </div>
              </td>
            </tr>
          <% end %>
          
        </div>
      </tbody>
    </table>
    <%= will_paginate models %>
  </div>
</div>
