<% member_rendered = @member %>
<div class="panel-group" id="memberslist">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a data-toggle="collapse" data-parent="#memberslist" href="#memberslistCollapse1">
					<div>
            <h3 style="display:inline;">＜参加予定＞</h3>
            <h3 style="display:inline;"><%= @decided_schedule.attendance_numbers %>名</h3>
            <h4 style="display:inline;"><%= "（現在#{@event.members.where(attended: true).count}名参加）" if @the_day_check %></h4>
            <h3 style="display:inline;"><%= "(あと#{@decided_members.where(attended: false).count}名参加予定)" if @decided_members.where(attended: false).count < @decided_schedule.attendance_numbers %></h3>
            <% if member_rendered %>
              <%= render 'users/shared/error_messages', resource: member_rendered if @member_rendered_status == "to_attend" %>
              <%= link_to "OK", event_path(@event), class: "pull-right" if @member_rendered_status == "to_attend" %>
            <% end %>
          </div>
				</a>
			</h3>
		</div>
		<div id="memberslistCollapse1" class="panel-collapse collapse in">
			<div class="panel-body">
			  <% if the_day_check %>
          <%= render 'members/edit_index', models: @decided_members, first_number: 1 %>
			  <% else %>
          <%= render 'events/shows/members_list_for_each_status', models: @decided_members, first_number: 1 %>
        <% end %>
			</div>
		</div>
	</div>
	
  <% if @on_hold_members.present? %>
  	<div class="panel panel-default">
  		<div class="panel-heading">
  			<h3 class="panel-title">
  				<a data-toggle="collapse" data-parent="#memberslist" href="#memberslistCollapse2">
            <div>
              <h3 style="display:inline;">＜保留＞</h3>
              <h3 style="display:inline;"><%= @on_hold_members.count %>名</h3>
              <%= render 'events/shows/pending_message', message: '調整中！' %>
              <% #debugger %>
              <% if member_rendered %>
                <%= render 'users/shared/error_messages', resource: member_rendered if @member_rendered_status == "on_hold" %>
                <%= link_to "OK", event_path(@event), class: "pull-right" if @member_rendered_status == "on_hold" %>
              <% end %>
            </div>
  				</a>
  			</h3>
  		</div>
  		<div id="memberslistCollapse2" class="panel-collapse collapse">
  			<div class="panel-body">
			    <% if the_day_check %>
            <%= render 'members/edit_index', models: @on_hold_members, first_number: 1 + @decided_members.count %>
  			  <% else %>
            <%= render 'events/shows/members_list_for_each_status', models: @on_hold_members, first_number: 1 + @decided_schedule.attendance_numbers %>
          <% end %>
  			</div>
  		</div>
  	</div>
  <% end %>
      
  <% if @to_be_absent_members.present? %>
  	<div class="panel panel-default">
  		<div class="panel-heading">
  			<h3 class="panel-title">
  				<a data-toggle="collapse" data-parent="#memberslist" href="#memberslistCollapse3">
            <div>
              <h4 style="display:inline;">＜不参加＞</h4>
              <h4 style="display:inline;"><%= @to_be_absent_members.count %>名</h4>
              <% if member_rendered %>
                <%= render 'users/shared/error_messages', resource: member_rendered if @member_rendered_status == "to_be_absent" %>
                <%= link_to "OK", event_path(@event), class: "pull-right" if @member_rendered_status == "to_be_absent" %>
              <% end %>
            </div>
  				</a>
  			</h3>
  		</div>
  		<div id="memberslistCollapse3" class="panel-collapse collapse">
  			<div class="panel-body">
			    <% if the_day_check %>
            <%= render 'members/edit_index', models: @to_be_absent_members, first_number: 1 + @decided_members.count + @on_hold_members.count %>
  			  <% else %>
            <%= render 'events/shows/members_list_for_each_status', models: @to_be_absent_members, first_number: 1 + @decided_schedule.attendance_numbers + @on_hold_members.count %>
          <% end %>
  			</div>
  		</div>
  	</div>
  <% end %>
</div>