<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover" id="table-shops">
      <tbody>
        <tr>
          <td>
          </td>
          <td>
            <% if @shop.present? && @shop.id.to_s == params[:id] %>
              <%= render 'users/shared/error_messages', resource: @shop %>
              <%= link_to "OK", event_path(@event), class: "btn btn-default btn-xs pull-right" if @shop.errors.present? %>
            <% end %>
            <div>
              <h4 style="display:inline;">＜店名＞</h4>
              <h3 style="display:inline;"><%= model.shop_name %></h3>
              <%= link_to image_tag("/event/edit.png", :size => "20x20"), edit_event_shop_path(@event, model), remote: true %>
            </div>
            <p>
              <h4 style="display:inline;">＜URL＞</h4>
              <%= link_to model.shop_url, model.shop_url, target: :_blank %>
              <%= link_to "WEBサイト表示", model.shop_url, class: "btn btn-primary btn-sm", target: :_blank if model.shop_url %>
              <button type="button" class="btn btn-info btn-sm clipboard-btn" data-clipboard-action="copy" data-clipboard-text="<%= model.shop_url %>">URLコピー</button>
              <a class="btn btn-default" data-toggle="collapse" href="#collapse-decided-shop">
                編集
              </a>
              <%= link_to_web_search(image_tag("/event/color_search.png", :size => "40x40"), [model.shop_name, @event.station]) %>
            </p>
            <% if model.shop_address.present? %>
              <div>
                <h4 style="display:inline;">＜住所＞<%= model.shop_address %></h4>
                <%= link_to_map(image_tag("/event/color_map.png", :size => "40x40"), [model.shop_address]) %>
              </div>
            <% end %>
            <div>
              <%= form_with(model:[@event, model], local: true, class:"form-inline") do |f| %>
                <%= f.label :remark, class: "label-form" %>
                <%= f.text_area :remark, placeholder: "ここにメモが書けます", size: "50x2", class: "form-control" %>
                <%= f.submit "メモを保存", class: "btn btn-sm btn-primary btn-form" %>
              <% end %>
            </div>
            <div id="collapse-decided-shop" class="collapse">
              <div class="well">
                <%= render 'shops/shop_form_full', model: model %>
              </div>
            </div>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
