<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= will_paginate models %>
    <table class="table table-hover" id="table-shops">
      <tbody>
        <div>
          <% models.each_with_index do |shop, counter| %>
            <tr>
              <td>
                <%= link_to 'このお店に決める', 
                  update_decision_of_schedule_event_path(@event, schedule_id: date),
                  method: :patch, 
                  data: {confirm: "「#{@event.event_name}」の開催日を#{l(date.held_at, format: :short)}に決定します。よろしいですか？"}, 
                  class: "btn btn-info btn-xs"
                %>
              </td>
              <td>
                ＜店名＞<%= shop.shop_name %>            
                <p>
                  候補<%= counter + 1 %>
                  <%= link_to shop.shop_url, shop.shop_url, target: :_blank %>
                  <%= link_to "URLへ飛ぶ", shop.shop_url, class: "btn btn-primary btn-sm", target: :_blank %>
                  <button type="button" class="btn btn-info btn-sm clipboard-btn" data-clipboard-action="copy" data-clipboard-text="<%= shop.shop_url %>">URLコピー</button>
                  <a class="btn btn-default" data-toggle="collapse" href="#collapse-shop-edit-<%= counter + 1 %>">
                    URL編集
                  </a>
                </p>
                <div id="collapse-shop-edit-<%= counter + 1 %>" class="collapse">
                  <div class="well">
                    <%= render 'shops/edit', model: @event, explanation_need: false %>
                  </div>
                </div>

              </td>
            </tr>
          <% end %>
            
          <tr>
            <td></td>
            <td>
              <a class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse-new-shop">
            	  新しい候補を追加
            	</a>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div id="collapse-new-shop" class="collapse">
              	<div class="well">
              	  <% @shop = @event.shops.new %>
              	  <%= form_with(model:[@event, @shop], local: true, class:"form-inline") do |f| %>
                    <%= f.label :shop_name, class: "label-form" %>
                    <%= f.text_field :shop_name, placeholder: "店名を入力", class: "form-control" %>
                    <br>
                    <%= f.label :shop_url, class: "label-form" %>
                    <%= f.text_field :shop_url, placeholder: "URLを貼付け", autofocus: true, class: "form-control" %>
                    <%= f.submit "追加", class: "btn btn-sm btn-primary btn-form" %>
                  <% end %>
              	</div>
              </div>
            </td>
          </tr>
          
        </div>
      </tbody>
    </table>
    <%= will_paginate models %>
  </div>
</div>
