<% provide(:title, current_user.user_name) %>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <% if @events_soon %>
      <% today_or_tomorrow = (current_user.days_before == 0) ? "本日" : "本日～明日" %>
      <h2><%= current_user.days_before > 1 ? "#{current_user.days_before}日以内" : today_or_tomorrow %>のイベント</h2>
      <%= render 'users/contents/shows/detail_events_list', models: @events_soon %>
    <% end %>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <%= link_to "イベント新規作成", new_event_path, remote: true, class: "btn btn-lg btn-primary pull-left" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <% if @events_after_a_few_days %>
      <h2 class="text-center">イベント一覧</h2>
      <%= render 'users/contents/shows/events_list', models: @events_after_a_few_days %>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <% if @events_pending %>
      <h2>未調整イベント一覧</h2>
      <%= render 'users/contents/shows/events_list', models: @events_pending %>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <% if @events_past %>
      <h2>過去のイベント一覧</h2>
      <%= render 'users/contents/shows/events_list', models: @events_past %>
    <% end %>
  </div>

</div>


<%= debug(params) if Rails.env.development? %>
<div>
  <table class="table table-bordered table-condensed" id="user-table">
    <tr>
      <td>氏名: <%= current_user.user_name %></td>
      <td>E-mail: <%= current_user.email %></td>
      <td>管理者: <%= current_user.admin %></td>
      <td>インターネット検索: <%= current_user.web_search_url %></td>
    </tr>
    <tr>
      <td>プロバイダー: <%= current_user.provider %></td>
      <td>uid: <%= current_user.uid %></td>
      <td>直前日数: <%= current_user.days_before %>日</td>
      <td>路線検索: <%= current_user.train_search_url %></td>
    </tr>
  </table>
</div>


<!--モーダルウインドウ表示-->
<div id="new-event" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

