<% provide(:home_page_name, @home_page_name) %>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to image_tag("/layout/space_icon_color_heir.png", :size => "35x35"), @home_page_path, id: "logo" %>
    <% else %>
      <%= link_to image_tag("/layout/space_icon_color.png", :size => "35x35"), @home_page_path, id: "logo" %>
    <% end %>
    <%= link_to image_tag("/layout/space_header_logo_v2.png", :size => "100x35"), @home_page_path, id: "logo" %>
    <div id="welcome_message">
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "#{yield(:home_page_name)}", @home_page_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle header-list" data-toggle="dropdown">
              <%= "名幹事「#{current_user.user_name}」さん" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% unless current_user.admin? %>
                <li><%= link_to "過去のイベント", users_contents_past_events_list_path %></li>
              <% end %>
              <li><%= link_to "アカウント", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "新規ユーザー登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path unless user_signed_in? %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>