<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <% if user_signed_in? %>
      <%= favicon_link_tag '/layout/space_icon_color_heir.png'%>
    <% else %>
      <%= favicon_link_tag '/layout/space_icon_color.png'%>
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% #debugger %>
      <% change_flash_message_type(flash[:timedout], :timedout, nil) %>
      <% change_flash_message_type(notice, :notice, :success) %>
      <% change_flash_message_type(alert, :alert, :danger) %>
      <% flash.each do |message_type, msg| %>
        <div class="alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <%= yield %>
      <%= link_to image_tag("/event/backbtn.png", :size => "75x35"), :back unless params[:action] == "top" %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <script src="//code.jquery.com/jquery-4.3.5.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>$('.dropdown-toggle').dropdown()</script>
  </body>
</html>
