<% attendance_status_symbol = models.first.member_schedules.find_by(schedule_id: @decided_schedule.id).attendance_status_i18n %>
<% status_key = models.first.member_schedules.find_by(schedule_id: @decided_schedule.id).attendance_status %>
<% first_number += (params[:page].to_i - 1)*10 if params[:page] %>

<%= form_with(model: @event, url: event_members_update_all_url(@event), local: true, method: :patch, class:"form-inline") do |f| %>
  <%= will_paginate models %><br>
  <%= f.submit "#{attendance_status_symbol}の変更を保存", class: "btn btn-sm btn-primary btn-form" %>

  <%= hidden_field_tag :event_id, @event %>
  <table class="table table-hover table-condensed" id="modal-table-members">
    <thead>
      <tr>
        <td colspan="1"><%= attendance_status_symbol %></td>
        <td colspan="1">
  			  <% if @the_day_check %>
            実際来た参加者にチェック
  			  <% else %>
    			  ※名前は入力必須
    			<% end %>
  			</td>
        <td colspan="1"></td>
        <td>会費計：<%= @total_fee["#{status_key}"] %>円</td>
			  <% if @the_day_check %>
          <td colspan="1">支払状況</td>
        <% end %>
        <td colspan="1">出欠</td>
			  <% unless @the_day_check %>
          <td colspan="1">削除</td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <div>
        <% models.each_with_index do |member, counter| %>
          <%= f.fields_for "members[]", member do |m| %>
            <tr>
              <td>
        			  <% if @the_day_check %>
                  <%= m.check_box :attended, {class: "form-control"}, checked_value = "true", unchecked_value = "false" %>
        			  <% else %>
          			  <%= counter + first_number %>
          			<% end %>
  			      </td>
              <td>
                <%= m.label :member_name, class: "label-form" unless @the_day_check %>
                <%= m.text_field :member_name, class: "form-control" %>
              </td>
              <td>
                <%= m.label :remark, class: "label-form" %>
                <%= m.text_field :remark, placeholder: "メモを入力できます", class: "form-control" %>
              </td>
              <% member_status = member.member_schedules.find_by(schedule_id: @decided_schedule.id) %>
              <%= m.fields_for :member_schedules, member_status do |m_s| %>
                <td>
                  <% if member_status.payment_status == "not_need" %>
                    ご招待！
                  <% else %>
                    <%= m_s.label :fee, class: "label-form" %>
                    <%= m_s.number_field :fee, min:0, step: "#{@event.fee_unit}", placeholder: "徴収予定金額を入力", class: "form-control" %>円
                  <% end %>
                </td>
			          <% if @the_day_check %>
                  <td>
                    <%= m_s.select :payment_status, MemberSchedule.payment_statuses.keys.map { |k| [I18n.t("enums.member_schedule.payment_status.#{k}"), k]} %>
                  </td>
                <% end %>
                <td>
                  <%= m_s.select :attendance_status, MemberSchedule.attendance_statuses.keys.map { |k| [I18n.t("enums.member_schedule.attendance_status.#{k}"), k]} %>
                </td>
              <% end %>
		          <% if @the_day_check %>
                <%= hidden_field_tag :delete_a_member, 0 %>
              <% else %>
                <td>
                  <%= check_box :delete_a_member, member.id, class: "form-control" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        
      </div>
    </tbody>
  </table>
  
  <%= will_paginate models %>
  <%= f.submit "#{attendance_status_symbol}の変更を保存", class: "btn btn-sm btn-primary btn-form pull-right" %>
<% end %>