<% provide(:title, 'Account') %>
<div class="container">
  <h2>アカウント</h2>

  <div class="col-md-4 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :user_name, class: "label-user--edit" %>
        <% if resource.user_name == "Guest" %>
          <%= f.text_field :user_name, value: nil, autofocus: true, autocomplete: "user_name", class: "form-control" %>
        <% else %>
          <%= f.text_field :user_name, autocomplete: "user_name", class: "form-control" %>
        <% end %>
      </div>
    
      <div class="field">
        <%= f.label :email, class: "label-user--edit" %>
        <% if resource.uid.present? && resource.email == "#{resource.uid.downcase}-#{resource.provider}@example.com" %>
          <%= f.email_field :email, value: nil, autofocus: true, autocomplete: "email", class: "form-control" %>
        <% else %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        <% end %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>


      <tr>
        <td style="background: #EEEEEE;">
          <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <% headingid="heading"+@user.id.to_s %>
              <% collapseid_for_href="#collapse"+@user.id.to_s %>
              <% collapseid="collapse"+@user.id.to_s %>
              <div class="card-header" role="tab" id="<%= headingid %>">
                <h5 class="mb-0">
                  <a class="btn btn-success btn-block" data-toggle="collapse" href="<%= collapseid_for_href %>" role="button" aria-expanded="false" aria-controls="<%= collapseid %>">
                    ＋　詳細
                  </a>
                </h5>
              </div><!-- /.card-header -->
              <div id="<%= collapseid %>" class="collapse data-parent" role="tabpanel" aria-labelledby="<%= headingid %>" data-parent="#accordion">
                <div class="card-body">
                  
                  
                  <div class="field">
                    <%= f.label :web_search_url, class: "label-user--edit" %>
                    <%= f.text_field :web_search_url, autocomplete: "web_search_url", class: "form-control" %>
                  </div>
                
                  <div class="field">
                    <%= f.label :map_url, class: "label-user--edit" %>
                    <%= f.text_field :map_url, autocomplete: "map_url", class: "form-control" %>
                  </div>
                
                  <div class="field">
                    <%= f.label :train_search_url, class: "label-user--edit" %>
                    <%= f.text_field :train_search_url, autocomplete: "train_search_url", class: "form-control" %>
                  </div>
                
                  <div class="field">
                    <%= f.label :station, class: "label-user--edit" %>
                    <%= f.text_field :station, placeholder: "最寄り駅を入力（路線検索時に使用できます）", autocomplete: "train_search_url", class: "form-control" %>
                  </div>
                
                  <div class="field">
                    <%= f.label :days_before, class: "label-user--edit" %>
                    <%= f.number_field :days_before, min:0, max:366, autocomplete: "days_before", class: "form-control" %>
                  </div>
                  
                  
                </div><!-- /.card-body -->
              </div><!-- /.collapse -->
            </div><!-- /.card -->
          </div><!-- /.accordion -->
        </td>
      </tr>

      <tr>
        <td style="background: #EEEEEE;">
          <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <% headingid="heading"+@user.id.to_s+"-2" %>
              <% collapseid_for_href="#collapse"+@user.id.to_s+"-2" %>
              <% collapseid="collapse"+@user.id.to_s+"-2" %>
              <div class="card-header" role="tab" id="<%= headingid %>">
                <h5 class="mb-0">
                  <a class="btn btn-success btn-block" data-toggle="collapse" href="<%= collapseid_for_href %>" role="button" aria-expanded="false" aria-controls="<%= collapseid %>">
                    ＋　パスワードの変更
                  </a>
                </h5>
              </div><!-- /.card-header -->
              <div id="<%= collapseid %>" class="collapse data-parent" role="tabpanel" aria-labelledby="<%= headingid %>" data-parent="#accordion">
                <div class="card-body">


                  <div class="field">
                    <%= f.label :password, class: "label-user--edit" %>
                    <% if @minimum_password_length %>
                      <em>（半角 <%= @minimum_password_length %> 文字以上）</em>
                    <% end %>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  </div>
                
                  <div class="field">
                    <%= f.label :password_confirmation, class: "label-user--edit" %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                  </div>
                  
                  <div class="field">
                    <%= f.label :current_password, class: "label-user--edit" %> <i>（※必須）</i>
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                  </div>
  
                </div><!-- /.card-body -->
              </div><!-- /.collapse -->
            </div><!-- /.card -->
          </div><!-- /.accordion -->
        </td>
      </tr>
  
      <div class="actions">
        <%= f.submit "情報更新", class: "btn btn-primary btn-block btn-user--edit" %>
      </div>
    <% end %>
  </div>

  <% unless current_user.admin? %>
    <div class="col-md-3">
      現在：
      <h4 class="text-center"><%= current_user.provider.present? ? current_user.provider.upcase : "メールアドレス" %></h4>
      <p class="text-right">でログイン中</p>
      
      <p>
        <a class="btn btn-default" data-toggle="collapse" href="#collapseURLedit">
          アカウントの削除
        </a>
      </p>
      <div id="collapseURLedit" class="collapse">
        <div class="well">
            <i>もうこのアカウントは不要ですか？</i><br>
            <i>こちらのボタンから、本アカウントを削除することができます。</i>
            <p>
              <%= button_to "アカウントの削除", registration_path(resource_name), 
               data: { confirm: "本アカウントに関連するデータも全て消えてしまいます。本当に削除してしまってよろしいですか？" }, method: :delete %>
            </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "戻る", :back %>
