<% provide(:title, 'Account') %>
<div class="container">
  <h2>アカウント（<%= resource_name.to_s.humanize %>情報編集）</h2>

  <div class="col-md-4 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :user_name, class: "label-user--edit" %>
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :email, class: "label-user--edit" %>
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field">
        <%= f.label :password, class: "label-user--edit" %> <i>（変更しない場合、空欄でも可）</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em>半角 <%= @minimum_password_length %> 文字以上にすること</em>
        <% end %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, class: "label-user--edit" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    
      <div class="field">
        <%= f.label :current_password, class: "label-user--edit" %> <i>（※必須）</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
    
      <div class="actions">
        <%= f.submit "情報更新", class: "btn btn-primary btn-block btn-user--edit" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <h4>アカウントの削除</h4>
    <i>こちらのボタンから、本アカウントを削除することができます。</i>
    <p>
      <%= button_to "アカウントの削除", registration_path(resource_name), 
       data: { confirm: "本アカウントに関連するデータも全て消えてしまいます。本当に削除してしまってよろしいですか？" }, method: :delete %>
    </p>
  </div>
</div>

<%= link_to "戻る", :back %>
